<fieldset class="border p-2">
    <legend class="w-auto">Details</legend>
    {{ form_start(form) }}
    {{ form_widget(form) }}

    <button type="submit" class="btn btn-primary">
        Submit
    </button>

    {{ form_end(form) }}

    <br/>

    <a href="{{ url('backend.contacts.index') }}">
        <button type="submit" class="btn btn-primary">Cancel</button>
    </a>

</fieldset>
