{% extends 'backend/base.html.twig' %}

{% block body %}
    <h5 class="card-title">Create Contact</h5>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Save</button>
    {{ form_end(form) }}

{% endblock %}

