{% extends 'backend/base.html.twig' %}

{% block body %}
    <h5 class="card-title">Contacts</h5>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phones</th>
            <th scope="col">Favorite</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody class="contacts-table-body">
        {{ include('backend/contacts/_partials/index_table.html.twig') }}
        </tbody>
    </table>

    <script>
        $(document).ready(function () {
            $('.search-form [name="q"]').on("input", function () {
                $('.contacts-table-body').html('<img src="/assets/loader.gif"/>');

                var favorite = '{{ app.request.get('favorite') }}';
                favorite = favorite || 0
                var q = $(this).val();

                $.ajax('/contacts?partial=1&favorite=' + favorite + '&q=' + q,
                    {
                        success: function (html, status, xhr) {
                            $('.contacts-table-body').html(html);
                        }
                    });

                return false;
            });
        });
    </script>

{% endblock %}

