{% extends 'backend/base.html.twig' %}

{% block body %}
    <h5 class="card-title">Contacts</h5>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phones</th>
            <th scope="col">Favorite</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {{ include('backend/contacts/_partials/index_table.html.twig') }}
        </tbody>
    </table>
{% endblock %}
