{% extends 'backend/base.html.twig' %}

{% block body %}
    <h5 class="card-title">View Contact</h5>

    #{{ contact.getId }}<br/>
    {{ contact.firstName }}<br/>
    {{ contact.lastName }}<br/>
    {{ contact.email }}<br/>

{% endblock %}
