{% extends 'backend/base.html.twig' %}

{% block body %}
    <h1>Show contact</h1>

    #{{ contact.getId }}<br/>
    {{ contact.firstName }}<br/>
    {{ contact.lastName }}<br/>
    {{ contact.email }}<br/>

{% endblock %}
