{% extends 'base.html.twig' %}

{% block body %}
    <h1>Show user</h1>

    #{{ user.getId }}<br/>
    {{ user.firstName }}<br/>
    {{ user.lastName }}<br/>
    {{ user.email }}<br/>

{% endblock %}
